@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 177, 82);
}

#bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }

.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.left{
    text-align: center;
}

h1{
    font-size: 4rem;
}

.right>img{
    border-radius: 10px;
}